extends layout

block content
    #content
        img(src='images/smile.png')
        p WELCOME
        #smile
            img(src='images/smile.png')
            h1= title
            div View
            p dfee #{title}

