extends layout

block content
    #content
        p WELCOME  
        h1= title
        div View index
        div Index
        p dfee #{title}
        #smile
            //- img(src='images/smile.png')
          
